* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.backdrop{
    position: fixed;
    top:0;
    display: none;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}

.main-header {
    width: 100%;
    background: steelblue;
    padding: 8px 16px;
    position: fixed;
    box-sizing: border-box;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    height: 22px;
    display: inline-block;
}

.main-header__brand img{
    height: 200%;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a {
    color: white;
    background: gray;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: steelblue;
    background: white;
    border: none;
}

.main-footer{
    /* background: black; */
    background-image:linear-gradient(whitesmoke,  rgb(77, 73, 73) 30%);
    padding: 32px;
    margin-top: 48px;
}

.main-footer-links{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.main-footer-link{
    display: inline-block;
    margin: 0px 16px;
}

.main-footer-link a{
    color: whitesmoke;
    text-decoration: none;
}
.main-footer-link a:hover,
.main-footer-link a:hover{
    color: lightgray;
}

