main{
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 5.625rem;
}

.main-header{
    top: 0;
    z-index: 100;
}

.background{
    background: url(../images/plans-background.jpg) center/cover;
    filter: grayscale(40%);
    filter:blur(2px);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
  }

.plan_section {
    padding: .5rem ;
    margin: 0.325rem;
    font-style: none;
    background: lightgrey;
    border-radius: 0.325rem;
    text-align: center; 
    width: 80%; 
    margin: .5rem auto;
    border: 4px solid steelblue;
    position: relative;
    z-index: 0;
}

.plan_section a:hover,
.plan_section a:active{
    color: gray;
}

.plan_section a{
    color:steelblue;
    text-decoration: none;
    display: block;
}

.plan_free{
    background-color: steelblue;
}

.plan_free a{
    color: whitesmoke;
}
.plan_free{
    border: 4px solid slategray;
    border-radius: 5px;
}
.plan_free a:hover,
.plan_free a:active{
    color: lightskyblue;
}

.plan_section p{
   border: 4px solid gray;
   border-radius: 5px;
   padding: 1rem;
   font-size: 1.25rem;
   color: black;
    
}

.plan_free p{
    border: 4px solid lightskyblue;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.25rem;
    color: black;  
}

.package_badge{
    position: absolute;
    top: 0px;
    right:0px;
    font-size: 1rem;
    color: whitesmoke;
    padding: 0.625rem;
    background: steelblue;
}

